body {
	background-color: #EC2F57;
	margin: 0;
}

nav {
	background-color: white;
	padding: 1em;
}

h1 {
	display: inline;
	padding-right: 53px;
}

h2 {
	color: white;
	font-size: 60pt;
	padding-left: 2.5em;
}

h4 {
	color: white;
	font-size: 20pt;
	padding-left: 7.5em;
}

.Sprit_Logo {
	margin-bottom: -1em;
	margin-left: 72%;
}
